user www-data;
# worker_processes is set to auto to automatically detect the number of processors. This
# will influence the number of workers nginx will start.
worker_processes {{ config.worker_processes }};
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

# Enable regex precompilation. Any regex in the location blocks that isn't to broad(like
# .*) will be optimized instead of being re-evaluated on each request.
pcre_jit on;

events {
    # Each nginx worker is allowed to accept this many connections. This is the maximum
    # number of simultaneous connections, both inbound and outbound(so both client and
    # proxied server). This number can be fairly high, but watch your file descriptor
    # limit(setting worker_rlimit_nofile). Default is 512, original file default 768
    worker_connections {{ config.worker_connections }};

    # The distribution of this image is for Linux, so the epoll connection processing
    # method is used by default.
    # use epoll;

    # In order to accept multiple connection requests on the same
    # worker, multi_accept must be on. It defaults to off.
    multi_accept on;

    # When using aio, this is the maximum number of outstanding asynchronous operations
    # per worker. Defaults to 32
    worker_aio_requests 32;
}

http {

    ##
    # Basic Settings
    ##

    sendfile on;
    tcp_nopush on;
    types_hash_max_size 2048;
    # server_tokens off;

    # server_names_hash_bucket_size 64;
    # server_name_in_redirect off;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    ##
    # SSL Settings
    ##

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3; # Dropping SSLv3, ref: POODLE
    ssl_prefer_server_ciphers on;

    ##
    # Logging Settings
    ##

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    ##
    # Gzip Settings
    ##

    gzip on;
    gzip_vary on;
    # gzip any response(of gzip_types below)
    gzip_proxied any;
    # gzip compression level by default is 1, allow override to higher(max 9)
    gzip_comp_level {{ config.gzip_comp_level }};
    # gzip_buffers defaults to 32 buffers at 4k size
    gzip_buffers 16 8k;
    # gzip_http_version defaults to 1.1 and up, optionally lower it
    gzip_http_version {{ config.gzip_http_version }};
    # gzip_types defaults to only text/html, enable more
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
    # Don't bother compressing a response if the header says the "Content-Length" is less than:
    gzip_min_length {{ config.gzip_min_length }};

    ##
    # Hash map Bucket Sizes
    ##

    # We ignore this value, as it is auto detected to be the size of a cache line in the CPU
    # map_hash_bucket_size 32|64|128
    # Any time a map is used to hash a request, it adds to the hash buckets. The default
    # is 2048 and is insufficient for any two workers that need a hash map. Bump to
    # minimum of 4096. Formula is (number of workers that need hash map * 1024 * 4) and
    # the main process counts as one.
    map_hash_max_size {{ config.map_hash_max_size }};

    ##
    # Virtual Host Configs
    ##
    server {
        listen unix:/run/nginx_metrics.sock;

        # expose stub_status here
        location = /stub_status {
            stub_status;
        }
    }
    # The location nginx data will end up in this directory
    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
}
