global:
  scrape_interval: {{ metric_scrape_interval }}

  external_labels:
    monitor: 'monitor'
rule_files:
  - "/etc/prometheus/synapse-V2.rules"
{% if prom_config.rw_url_path %}
remote_write:
  - url: {{ prom_config.rw_url_path }}
    remote_timeout: {{ prom_config.rw_remote_timeout }}
#    send_exemplars: {{ prom_config.rw_send_exemplars | string | lower }}
    send_native_histograms: {{ prom_config.rw_send_native_histograms | string | lower }}
#    round_robin_dns: {{ prom_config.rw_round_robin_dns | string | lower }}
    queue_config:
      max_samples_per_send: {{ prom_config.rw_max_samples_per_send}}
      capacity: {{ prom_config.rw_capacity }}
      min_shards: {{ prom_config.rw_min_shards }}
      max_shards: {{ prom_config.rw_max_shards }}
      batch_send_deadline: {{ prom_config.rw_batch_send_deadline }}
      min_backoff: {{ prom_config.rw_min_backoff }}
      max_backoff: {{ prom_config.rw_max_backoff }}
      retry_on_http_429: {{ prom_config.rw_retry_on_http_429 | string | lower }}
#      sample_age_limit: {{ prom_config.rw_sample_age_limit }}

{% endif %}
scrape_configs:
  - job_name: pg_exporter
    static_configs:
    - targets: ["localhost:9187"]
      labels:
        instance: "{{ prom_config.instance_name }} Postgres"
  - job_name: redis_exporter
    static_configs:
    - targets: ["localhost:9121"]
      labels:
        instance: "{{ prom_config.instance_name }}-Redis"
  - job_name: coturn_exporter
    static_configs:
    - targets: ["localhost:9641"]
      labels:
        instance: "{{ prom_config.instance_name }}-Coturn"
  - job_name: nginx_exporter
    static_configs:
    - targets: ["localhost:9113"]
      labels:
        instance: "{{ prom_config.instance_name }}-Nginx"
  - job_name: nginx_log_exporter
    static_configs:
    - targets: ["localhost:9112"]
      labels:
        instance: "{{ prom_config.instance_name }}-Nginx-Logs"
  - job_name: "synapse"
    scrape_interval: {{ metric_scrape_interval }}
    metrics_path: "/_synapse/metrics"
    file_sd_configs:
      - files:
        - "{{ prom_config.file_sd_targets_file }}"
